<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
	 <display-name>Struts2-XMLConfigurations-MySQL-Login</display-name>
	 
	 <!-- Invoke the Filter class if a valid URL comes -->
	 <filter>
	  	<filter-name>struts2Filter</filter-name>
	  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	 </filter>
	 
	 <!-- Check for valid url pattern -->
	 <filter-mapping>
	  	<filter-name>struts2Filter</filter-name>
	  	<url-pattern>/*</url-pattern>
	 </filter-mapping>
	 
	 <welcome-file-list>
	 	 <welcome-file>login.jsp</welcome-file>
	 </welcome-file-list>
</web-app>
